h1 {
    background-color: #040403;
    color: blanchedalmond;
}

#fotoAyrton {
    background-color: #5B7553;
}

h2 {
    background-color: #8EB897;
    color: blanchedalmond;
}

ul {
    background-color: #C3E8BD;
}

#paragrafoTeste {
    background-color: #9DDBAD;
}